:root {
  --zhp-green: #84a311;
  --zhp-dark-green: #718c0f;
  }


body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
}

.sidebar {
  position: relative;
  overflow: auto;
  background-color: var(--zhp-dark-green);
  }

@media screen and (min-width: 650px) {
.wrapper {
  display: grid;
  grid-template-columns: minmax(100px, 400px) auto;
}


.map {
  width: 100%;
  height: 100%;
}

.btn.btn-light {
  width: fit-content;
  font-size: 0.65rem;
}



.list-group-item.list-group-item-action {
  list-style-type: none;
  font-size: 1.1rem;
  margin-bottom: 0;
  background-color: var(--zhp-dark-green);
}


.list-group-item-secondary.list-group-item-action:hover {
  background-color: var(--zhp-dark-green) !important;
}

.list-group-item.list-group-item-action li {
background: var(--zhp-green);
padding: 10px 20px;
margin: 5px 0;
transition: .5s;
border: 1px solid #DDDDDD;
color: white;
}

.list-group-item.list-group-item-action:hover {
  background: var(--zhp-dark-green);
  }


.list-group-item.list-group-item-action li:hover {
transform: scale(1.06);
}

.feature__wrapper {
  display: none;
  position: absolute !important;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--zhp-dark-green);
  z-index: 9999;
}

.feature__info {
  background-color: var(--zhp-green);
    list-style-type: none;
    color: white;
    font-size: 1.1rem;
    width: 80%;
    border-collapse: separate;
    margin: auto;
    padding: 0;
}

.feature__info li {
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #DDDDDD;
  transition: .5s;
  background-color: var(--zhp-green);
}


.feature__info:hover {
background: var(--zhp-green);

}

.feature__info li:hover {
  transform: scale(1.06);
}


/* Scrollbar */

.sidebar::-webkit-scrollbar {
  width: 10px;
}


.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(161, 161, 161, 0.8);
}

.sidebar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(90, 90, 90, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.sidebar::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(90, 90, 90, 0.8); 
}

#map-icon {
  font-size: 1.4em;
}

#arrow-icon {
  font-size: 1.4em;
}

/* Scrollbar */